@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    font-family: 'Play',sans-serif;
    box-sizing: border-box;
    overflow: hidden;
   /*  font-size: 10px; */
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 450px;
    height: 700px;
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow:  -35px 35px 70px #a6a6a6,
             35px -35px 70px #ffffff;
}

.up {
    display: flex;
    justify-content: space-around;
}

.up p {
    font-size: 18px;
    font-weight: 600;
}

.fa-solid {
    margin-top: 20px;   
}

.middle img {
    width: 70%;
    height: 60%;
    border-radius: 10%;
    box-shadow: 24px 23px 15px 1px #000000;
}

.artistTrack {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.artistTrack p:first-of-type {
    font-weight: 500;
    padding-top: 30px;
    font-size: 22px;
    letter-spacing: 5px;
    word-spacing: 10px;
}

.artistTrack,p:last-child {
    font-weight: 800;
    font-size: 20px;
    padding-top: 0px;
}

.middle {
    display: flex;
    align-items: center;
    height: 80%;
    flex-direction: column;
    margin-top: 30px;
}

.down {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    position: relative;
    bottom: 40px;
}

.middle .ladebalken {
    height: 10px;
    width: 70%;
    background: rgba(107, 102, 102, 0.6);
    border: 1px solid black;
    border-radius: 10px;
    padding-bottom: 10px;
}

.middle .ladebalken2 {
    height: 10px;
    width: 50%;
    background: rgb(243,255,22);
    background: radial-gradient(circle, rgba(243,255,22,1) 0%, rgba(14,47,134,1) 0%, rgba(22,231,255,1) 96%);
}

i:hover {
    color: red;
}